{% extends "base.html.twig" %}
{% block body %}
    <h1 class="text-center">{% trans into locale %}Reset your password{% endtrans %}</h1>
    <div class="block">
        <p> {% trans into locale %}To reset your password, click the link and follow the instructions {% endtrans %} <a
                href="{{ reset_password_url }}">{{ reset_password_url }}</a></p>
        <p>{% trans into locale %}If you did not ask to reset your password, please report to {% endtrans %} <a
                href="mailto:support@once-upon-a-gift.com">support@once-upon-a-gift.com</a>.</p>
        <br>

    </div>
{% endblock %}
