<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ username }} !</h1>
            <p class="block">
                Welcome to <strong>Once Upon A Gift</strong>.
                Please activate your account by clicking the following link : <a href="{{ signedUrl }}">Le lien</a>
                Once your account activated, you'll be able to enjoy the features OUAG has to offer.
            </p>
        </div>
    </div>
</div>
</body>
</html>
