:root {
    --main-bg-color: #983275;
    --secondary-bg-color: #ff6f01;
    --main-title-color: #cc14149c;
    --main-link-color: #cc7614d5;
    --main-focus-color: #ff6f01;
    --main-btn-gradient-color: #ff6f01;
    --secondary-btn-gradient-color: #fd2f24;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2rem;
}

.form-control-inline {
    display: inline;
    margin: 0 10px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    width: initial;
    max-width: 100%;
    font-weight: 900;
    text-align: center;
}

.blur {
    filter: blur(30px);
    margin: 30px;
}

.horizontal-scroll {
    overflow-x: auto;
}

.card-group.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card-deck .card {
        margin-bottom: 15px;
    }
}

.card.pricing {
    border: 1px solid #f1eef1;
}

.card.pricing.popular {
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #633991;
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: var(--main-title-color);
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%;
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #959094;
    padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
    color: #d9d3d8;
}

.card.pricing .card-body {
    padding: 1.75rem;
}

/* NAVBAR */
.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    background: -webkit-linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    background: linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar-nav > .nav-item > .nav-link.active:after {
        content: "";
        border-bottom: 2px solid var(--main-focus-color);
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width: 991px) {
    .navbar {
        background-color: rgb(74, 13, 143);
        background: -moz-linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
        background: -webkit-linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
        background: linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
        -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }
}
